{% extends "base.html" %}
{% block content %}

<h2>Course: {{course.name}}</h2>
<a class="yc" href="/courses/{{ course.id }}/edit">Edit</a>

<section class="center">
<p class="box"> Course Name :{{course.name}} <br> 
    Start Date: {{course.start_date}} <br>
    End_date: {{course.end_date}} <br>
    Time: {{course.time}} <br>
    Course Duration: {{course.duration}} <br>
    Course Capacity: {{course.capacity}} <br>
    Course Status: {{course.active}}
</p>
</section>

<section class="id1">

{% for member in members %}
<ul class="box">
        Member Name: {{member.name}} <br> 
        Member Age: {{member.age}} <br>
        Member Membership: {{member.membership}} <br>
        Member status: {{member.active}} <br>
</ul>
{% endfor %}

</section>



{% endblock %}